* {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background-color: aqua;
}

.third {
    display: flex;
    flex-direction: row;
}
